{% extends "ndmu/base.html" %}
{% block content %}
	<br>
	<font size="6px">About NDMU</font>
	<p></p>
	<font size="4px">
	<ul>
		<li><a style="color: #008000;text-decoration:none;" class="entry-title main_title" href="{% url 'ndmu-trustees' %}"><strong><font size="4px">Board of Trustees</strong></a></li>
	</ul>	
	<ul>
		<li><a style="color: #008000;text-decoration:none;" class="entry-title main_title" href="{% url 'ndmu-administration' %}"><strong><font size="4px">Administration</strong></a></li>
	</ul>			
	<ul>
		<li><a style="color: #008000;text-decoration:none;" class="entry-title main_title" href="{% url 'ndmu-history' %}"><strong><font size="4px">History</strong></a></li>
	</ul>	
</font>
{% endblock content %}