{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Favicon -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}" />
	<link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}" />

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'ndmu/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ndmu/sidebar.css' %}">

	<!-- Title -->
	{% if title %}
		<title>NDMU - {{ title }}</title>
	{% else %}
		<title>Notre Dame of Marbel University - SHS</title>
	{% endif %}

</head>
<body>
	<!-- Sidebar -->
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				<div id="mySidenav" class="sidenav">
						<center>
							<img src="{% static 'images/ndmu.png' %}" height="100" width="100">
							<p><font color="white"><i><strong>Admin Control Center</strong></i></p></font>
						</center>
						<p></p>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<br>
						<center><img class="rounded-circle mb-2" src="{{ user.profile.image.url }}" height="50" width="50">
						<p><font color="white"><i><strong>{{ user.username }}</strong></i></p></font></center>
						<p><center><font color="white">____________________</font></center></p>
						<a class="nav-item nav-link" href="{% url 'profile' %}">Profile Information</a>
						<a class="nav-item nav-link" href="{% url 'post-create' %}">Post Announcement</a>						
						<a class="nav-item nav-link" href="admin">Admin Page</a>
						<a class="nav-item nav-link" href="{% url 'logout' %}"><font color="red">Logout</font></a>
						<p><center><font color="white">____________________</font></center></p>						
					</div>		
					<div id="main">
						{% if user.is_authenticated %}
						<span style="font-size:20px;cursor:pointer;color:white" onclick="openNav()">&#9776; {{ user }}</span>
						{% endif %}						
					</div>
					
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/"><img src="{% static 'images/ndmu.png' %}" height="50" width="50">&nbsp;&nbsp;Notre Dame of Marbel University&nbsp;&nbsp;|</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'ndmu-about' %}">About</a>
	          <a class="nav-item nav-link" href="{% url 'ndmu-home' %}">Home</a>
	          <a class="nav-item nav-link" href="{% url 'ndmu-announcements' %}">Announcements</a>
	          <a class="nav-item nav-link" href="{% url 'ndmu-contact' %}">Contact Us</a>	          	         
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        	<div class="btn-group">

	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	<main role="main" class="container">
	  <div class="row">
	    <div class="col">
	      {% if messages %}
	      	{% for message in messages %}
	      		<div class="alert alert-{{ message.tags }}">
	      			{{ message }}
	      		</div>
	      	{% endfor %}
	      {% endif %}
	      {% block content %}{% endblock %}
    	</div>  
      </div>
    </main>   

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
	function openNav() {
    	document.getElementById("mySidenav").style.width = "250px";
    	document.getElementById("main").style.marginLeft = "250px";
    	document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

	function closeNav() {
    	document.getElementById("mySidenav").style.width = "0";
    	document.getElementById("main").style.marginLeft= "0";
    	document.body.style.backgroundColor = "white";
}
</script>


</body>
</html>