{% extends "ndmu/base.html" %}
{% load static %}
{% block content %}
<hr class="featurette-divider">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Contact Us</h1>
          <p>A list of contact numbers</p>
        </div>
      </section>
      <br>
<!--1st table-->
<div class="container">
  <div class="row">
    <div class="col-sm">
<p class="rteindent1"><strong>The Guidance Scholarship and Testing Center</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3598<br />
FAX 63(83) 228-2819<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:guidance@ndmu.edu.ph">guidance@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>The University Registrar</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-2368<br />
FAX 63(83) 228-2819<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:registrar@ndmu.edu.ph">registrar@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>The Graduate School</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-2368<br />
FAX 63(83) 228-2819<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:graduates@ndmu.edu.ph">graduates@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
  </div>
</div>
<!----------------------------------------------------->

<!--2nd table-->
<div class="container">
  <div class="row">
    <div class="col-sm">
<p class="rteindent1"><strong>Champagnat Community College &#8211; CCC</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3587<br />
FAX 63(83) 228-5538</p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>College of Engineering Technology (CET)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3599<br />
<span style="font-size: 12px;"><span style="color: #008000;"><strong><span style="background-color: #ffff00;"><!--email: <a href="mailto:graduates@ndmu.edu.ph">scitech@ndmu.edu.ph</a>--></span></strong></span></span></p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>College of Arts and Sciences (CAS)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3597</p>
    </div>
  </div>
</div>
<!----------------------------------------------------->

<!--3rd table-->
<div class="container">
  <div class="row">
    <div class="col-sm">
<p class="rteindent1"><strong>College Business Administration (CBA)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-2226</p>
    </div>
    <div class="col-sm">
<p class="rteindent1"><strong>College of Education (CEd)</strong><br />
Notre Dame of Marbel University<br />
Alunan Avenue, City of Koronadal, South Cotabato<br />
9506 Philippines<br />
Tel. No. (083) 228-3598</p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<!----------------------------------------------------->
<br>
{% endblock content %}