{% extends "ndmu/base.html" %}
{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}
{% block content %}
<br>
	<article class="media content-section">
		<img class="rounded article-img" src="{{ object.author.profile.image.url }}">
		<div class="media-body">
		  <div class="article-metadata">
			<a class="mr-2" href="{% url 'user-posts' object.author.username %}"><font color="red">{{ object.author }}</font></a>
			<small class="text-muted">{{ object.date_posted|date:"M. j, Y - fA" }}&nbsp; <i>"{{ object.title }}"</i></small>
		  </div>
		  {% if post.picture %}		  
		  <img src={{object.image_content.url}}/>
		  {% endif %}		  	
		  <p class="article-content">{{ object.content | safe }}</p>
		  {% if object.imgs %}
		  <img style="height:725px;max-width:500px;width: expression(this.width > 500 ? 500: true);" src="{{ object.imgs.url }}" alt="{{ object.title }} style="width:100%" onclick="currentSlide(1)"/>
		  {% endif %}
		  		  <hr>
		  {% if object.author == user %}
		  <div>
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
			<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>	
		  </div>
		  {% endif %}	
		</div>
	</article>

<div id="share-buttons">
    <p> Share this on:</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=<link>" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=<link>"" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=<link>"" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
   

</div>

{% endblock content %}